html {
  text-align: center;
}

body {
  text-align: center;
  padding: 50px 50px 50px 50px;
  border: 2px solid red;
  border-radius: 12px;
  margin: 100px 100px 100px 100px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  color: red;
  font-weight: bold;

}

button {
  border-radius: 12%;
  text-align: center;
  background-color: rgb(255, 255, 255);
  border-color: red;
  padding: 15px 250px;
  margin: 20px;
  color: red;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

input {
  border-color: red;
  padding: 10px 125px;
  margin: 10px 25px 25px;
  border-radius: 12%;
  text-align: center;
  color: red;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}